@import './reset.css';
@import './color.css';

:root {
  --space-small: var(--space-2);
  --space-medium: var(--space-4);
  --space-large: var(--space-6);
  --sidebar-width: calc(26rem + var(--space-medium));
  --header-size: 2.5rem;
  --footer-size: 1.9rem;
}

:root {
  --space-1: 0.2rem;
  --space-2: 0.4rem;
  --space-3: 0.8rem;
  --space-4: 1rem;
  --space-5: 1.2rem;
  --space-6: 1.4rem;
  --space-7: 1.6rem;
  --space-8: 1.8rem;
  --space-9: 2.4rem;
  --space-10: 3.2rem;
  --space-11: 4rem;
  --space-12: 4.8rem;
  --space-13: 6.4rem;
}

html,
body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  place-items: center;
}

*:hover {
  outline: 1px blue solid;
}

* {
  color: var(--font-color-1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

*:lang(ko) {
  word-break: keep-all;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-dull);
  border-radius: 12px;
}

*::-webkit-scrollbar-track {
  width: 10px;
  height: 0;
}

select,
option {
  color: var(--font-color-2);
}
