:root {
  --space-small: var(--space-2);
  --space-medium: var(--space-4);
  --space-large: var(--space-6);
  --side-size: 26rem;
}

:root {
  --space-1: 0.2rem;
  --space-2: 0.4rem;
  --space-3: 0.8rem;
  --space-4: 1rem;
  --space-5: 1.2rem;
  --space-6: 1.4rem;
  --space-7: 1.6rem;
  --space-8: 1.8rem;
  --space-9: 2.4rem;
  --space-10: 3.2rem;
  --space-11: 4rem;
  --space-12: 4.8rem;
  --space-13: 6.4rem;
}

*:hover {
  outline: 1px blue solid;
}

* {
  color: var(--font-color-1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-dull);
  border-radius: 12px;
}

select,
option {
  color: var(--font-color-2);
}

header,
footer {
  background-color: var(--bg-duller);
}

main {
  flex: 1 1 auto;
  margin: var(--space-medium);
  display: flex;
  justify-content: space-between;

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .side-component {
      background-color: var(--bg-focus);
      padding: var(--space-medium);
      margin-bottom: var(--space-medium);
      border-style: hidden;
      border-radius: var(--space-2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

      display: flex;
      flex-direction: column;
      min-width: min-content;
    }

    .side-component.select-item {
      .weapon-select-button,
      .item-slot {
        background-color: var(--bg-duller);
      }

      .weapon-select-button:hover,
      .item-slot:hover {
        background-color: var(--bg-duller-highlighted);
      }
    }
  }
}

@media (min-width: 961px) {
  main {
    flex-direction: row;
  }

  .main-container.side {
    flex: 0 0 var(--side-size);
  }

  .main-container.center {
    flex: 0 1 35%;
  }
}

@media (max-width: 960px) {
  main {
    flex-direction: column;
  }

  .main-container {
    min-width: var(--side-size);
  }

  .main-container.center {
    order: 999;
  }
}
